.container_userProfile {
  width: 100%;
  min-height: 100vh;
  background-color: #f4f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_user_profile {
  width: 900px;
  height: 500px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left_2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #001f3f;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 150px;
}

.left_2 img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.left_2 i {
  color: white;
  margin: 5px 0;
}

.right_2 {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container_user h6 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.container_user hr {
  width: 100%;
  margin: 10px 0;
  border: 0;
  height: 1px;
  background-color: #ccc;
}

.container_user p {
  margin: 5px 0;
  color: #555;
  width: 300px;
  margin-bottom: 30px;
}

.d-flex a {
  margin-right: 10px;
  color: white;
}

.d-flex a:hover {
  color: #2ecc40;
}

.button_edit {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: #39cccc;
  color: white;
  border-radius: 20px;
  width: 100px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
}

.button_edit:hover {
  background-color: #2ecc40;
}

.button_close {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: #39cccc;
  color: white;
  border-radius: 20px;
  width: 100px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 20px;
}

.button_close:hover {
  background-color: #2ecc40;
}

.popup_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.change_color {
  background-color: #001f3f;
  width: 300px;
}
