.card_container {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.admin_cards {
  border: 2px solid #39cccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  height: 300px;
  width: calc(33.33% - 32px);
  box-sizing: border-box;
  text-align: center;
}

@media (max-width: 768px) {
  .admin_cards {
    width: calc(50% - 32px);
  }
}

.card_headings {
  margin-top: 50px;
  color: #333;
}

.card_paragraf {
  color: #666;
}
